@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  .stickyFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff; /* Adjust background color as needed */
    border-top: 1px solid #ccc; /* Optional border */
    z-index: 1000; /* Ensure it sits above other content */
  }
  