.topbar {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; 
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  height: 80px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo {
  border-radius: 50px;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logoText {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.logoMore {
  font-weight: bold;
  font-size: 1.2rem; 
  color: rgb(255, 255, 255);
}
.logoClassified {
  font-size: 0.75rem;
  margin-top: -5px;
  color: white;
}

.nav {
  display: flex;
  gap: 10px; /* Adjust gap as needed */
}

.nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.9rem; 
  transition: color 0.3s;
}

.nav a:hover {
  color: orange;
}

.contactButton {
  background-color: rgb(255, 138, 4);
  color: black;
  border-radius: 20px;
  padding: 8px 15px; 
  cursor: pointer;
  font-size: 0.9rem; 
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}
.contactButton:hover {
  background-color: black;
  color: white;
}
.icon {
  margin-right: 3px;
}
/* Media query for responsiveness */
@media (max-width: 768px) {
  .topbar {
    padding: 0 10px;
    height: 60px; 
  }
  .logoText {
    display: none;
  }

  .logoMore {
    font-size: 1rem; 
  }
  .nav a {
    font-size: 0.8rem; 
  }
  .contactButton {
    padding: 6px 12px; 
    font-size: 0.8rem;
  }
}
