
.pagination button.page-number {
    font-size: 25px;
    font-weight: 800;
    margin: 0 10px;
    cursor: pointer;
    justify-content:space-between;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

  }
  
  .pagination button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    cursor: pointer;
    border: 1px solid #141212;
    border-radius: 5px;
    justify-content: space-between;
    
  }
  
  .pagination button.active {
    background-color: white;
    color: rgb(0, 0, 0);
  }