.gridcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ebe4e4;
  padding: 1rem;
  width: 350px;
  height: 70vh;
  margin: 20px;
  border-radius: 10px;
}

/* Styles for headers */
.header {
  font-size: 28px;
  margin-bottom: 20px;
}
.subheader {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Container for the search input */
.searchContainer {
  position: relative;
  margin-bottom: 20px;
}

/* Search input styles */
.searchInput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding-right: 40px;
}

/* Search icon position and styles */
.searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
}

/* Styles for the horizontal line */
.horizontalLine {
  border: 2px solid;
  height: 1px;
  background: #e4e0e0;
  margin: 1rem 0;
}

/* Listing links styles */
.listingLinks {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
.listingLinks li {
  margin-bottom: 10px;
}
.listingLinks a {
  text-decoration: none;
  color: #ff7b00;
  font-weight: 700;
}
.listingLinks a:hover {
  text-decoration: underline 2px rgb(255, 145, 0);
}

/* Image grid container */
.imageGrid {
  display: flex;
  justify-content: center;
}

/* Image grid item styles */
.imageGridItem img {
  width: 500px;
  height: 90vh;
  border-radius: 10px;
}
